.carousel {
  overflow: hidden;
  width: 250px;
  position: relative;
}

.carousel .carousel-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel-buttons button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: #f3d9a0;
  opacity: 0.8;
}

.carousel .carousel-item {
  display: none;
}

.carousel .carousel-item img {
  width: 100%;
  height: auto;
}

.carousel .carousel-visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: opacity linear;
  }
}