* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  background-image: linear-gradient(to right bottom, #d677ce, #ff7da7, #ff9a7e, #ffc465, #e9ee72);
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #a78d31;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}

header .logo img {
  margin: 10px;
  width: 50px;
  height: 50px;
}

nav .list {
  list-style: none;
  display: flex;
  margin-top: 20px;
}

nav .list>li {
  padding: 10px;
}

nav .list li a {
  color: #d7008b;
}

nav .list li:hover {
  background: #f3e8a0;
  border-radius: 10px;
}

main {
  background-image: linear-gradient(191deg, #996627, transparent);
  height: 100%;
  font-family: 'Alumni Sans', sans-serif;
  font-size: 18px;
  margin: 0 auto;
}

main .introduction {
  padding-top: 10px;
}

.image {
  display: flex;
  flex-direction: column;
}

.image img {
  height: 300px;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #c194a7
}

.image legend {
  margin: 0 auto;
  font-size: 10px;
}

.text h1 {
  margin-top: 20px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  color: #5e5c0a;
}

.text p {
  text-align: justify;
  padding: 10px;
}

.brief>h2 {
  text-align: center;
  color: #5e5c0a;
  margin: 0 auto 10px;
  font-size: 30px;
}

.brief>p {
  margin: 0 auto 10px;
  padding: 10px;
}

.video-homenage {
  margin: 0 auto 30px;
  height: 300px;
}

.video-homenage .video {
  margin-top: 15px;
  width: 100%;
  height: 100%;
}


footer {
  border-top: 2px solid #f3e5b4;
  padding-top: 10px;
  background-image: linear-gradient(to right bottom, #e9ee72, #ffc465, #ff9a7e, #ff7da7, #d677ce);
  display: flex;
  flex-direction: column;
  color: #23389b;
  font-family: 'Bebas Neue', cursive;

  height: 80px;
}

.heart {
  animation: pulsar 1s infinite alternate;
}

footer .madeBy,
.references {
  margin: 0 auto;
}

.madeBy {
  display: flex;
  align-items: center;
}

.madeBy img {
  width: 15px;
  margin: 4px;
}

.references>a {
  color: #23389b;
}

/* Family*/
main {
  padding: 10px;
}

main>h1 {
  font-size: 35px;
  text-align: center;
}

main>h1,
main h2 {

  color: #5e5c0a;
}

main h2 {
  font-size: 30px;
  margin-top: 20px;
}

main p {
  text-align: justify;
  margin: 10px 0;
}

.photo-parents,
.marriage-photos,
.image-childrens {
  height: 300px;
  width: 250px;
  margin: 0 auto;
}

.photo-parents img,
.marriage-photos img,
.image-childrens img {
  width: 100%;
  height: 100%;
  border: 1px solid #c194a7;
}

.photo-parents legend,
.marriage-photos legend,
.image-childrens legend {
  font-size: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.marriage-photos p {
  margin-top: 50px;
  font-weight: bold;
}


.childrens h2 {
  margin-top: 60px;
}

.image-childrens legend {
  padding-bottom: 25px;
  ;
}

/*Movies*/

.movie-history>h1 {
  color: #5e5c0a;
}

.image-estrela-fama {
  height: 300px;
  width: 250px;
  margin: 0 auto;
}

.image-estrela-fama img {
  width: 100%;
  height: 100%;
  border: 1px solid #c194a7;
}

.image-estrela-fama legend {
  font-size: 10px;
  text-align: center;
}

.image-estrela-fama>p {
  padding: 10px;
  width: 100%;
}


.carousel {
  margin: 20px auto 0;
  overflow: hidden;
  width: 250px;
  position: relative;
}

.carousel .carousel-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel-buttons button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: #f3d9a0;
  opacity: 0.8;
}

.carousel .carousel-item {
  display: none;
}

.carousel .carousel-item img {
  width: 100%;
  height: auto;
}

.carousel .carousel-visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

/*Inventions*/
.inventions h1 {
  color: #5e5c0a;
}

.image-patente,
.image-inventions {
  height: 300px;
  width: 250px;
  margin: 0 auto;
}

.image-patente img,
.image-inventions img {
  width: 100%;
  height: 100%;
  border: 1px solid #c194a7;
}

.image-patente legend,
.image-inventions legend {
  font-size: 10px;
  text-align: center;
}

.recognition {
  height: 510px;
}

/*References*/
main .references {
  height: 800px;
}

/*Keyframes*/
@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

@keyframes pulsar {
  0% {
    transform: scale(.8);
  }

  100% {
    transform: scale(1.2);
  }
}

/*Medias*/


@media(min-width: 600px) {
  .image img {
    height: 400px;
  }

  .video-homenage {
    height: 500px;
  }
}

@media(min-width: 900px) {
  main p {
    font-size: 25px;
  }

  .text,
  .brief>p,
  .parents,
  .photo-parents,
  .marriage,
  .marriage-photos,
  .childrens,
  .image-childrens,
  .movie-history,
  .image-estrela-fama,
  .inventions,
  .recognition,
  .image {
    margin: 0 auto;
    width: 800px;
  }

  .video-homenage {
    max-width: 800px;
  }

  .image-estrela-fama {
    height: 300px;
    max-width: 600px;
  }

  .carousel {
    width: 400px;
    height: 600px;
  }

  .image-patente,
  .image-inventions {
    width: 600px;
    margin: 0 auto;
  }

  .references {
    height: 1500px;
  }
}